$color1:rgb(203, 206, 205);
$color2:rgb(236, 143, 22);
$color3:rgb(91, 180, 177);
$color4:gray;
$color5:#FFF;
$color6:rgb(223, 122, 7);
$color7:rgb(88, 87, 87);
$color8:rgb(8, 167, 93);
$color9:rgb(194, 59, 104);
