@import "mixin";
@import "variables";
.container {
  padding: 60px 0 40px;
}
.productContainer {
  display: flex;
  justify-content: space-between;
  @include boxStyle(70%, 400px, 0, none, none, 30px, auto);
}
.detailContainer {
  width: 60%;
  height: 320px;
  padding: 20px;
  h3 {
    color: $color2;
    padding-bottom: 10px;
  }
  p {
    padding: 10px 0;
  }
  .category {
    @include textStyle(1.25rem, bold, $color4);
    span {
      color: rgb(231, 170, 38);
    }
  }
}
.productContainer,
.detailContainer {
  border: 2px solid rgb(222, 224, 224);
  border-radius: 10px;
}
.productImage {
  width: 250px;
}

.boxes {
  display: flex;
  justify-content: space-between;
  padding: 30px;
 a {
  text-decoration: none;
  color:$color2;
  @include boxStyle(200px,40px,10px,none,none,10px 15px ,0);
  &:hover {
 text-shadow: 0 0 3px $color6;
}}
span {
    @include textStyle(20px,bold,$color5);
   
  padding: 10px 15px;

}

}
.price{
  display: inline-block;
  background-color: $color3;
  padding: 4px;
  box-shadow: 0 1px 3px 0.5px $color4;
  border-radius: 3px;
  @include textStyle(15px,bold,$color5);
}