@import "variable";
.footerContainer{
    position: relative;
    .Footer{
        position: absolute;
        top:100px;
        display:flex ;
        justify-content: space-around;
        padding-left:20px;
        div{
            height: 200px;
            p{
                padding:5px;
            }
        }
        
 
    }
}
.left{
    width:430px;
    h2{
        color:$color2;
    }
    span{
        margin-top: 100px;
    }
}
.products{
    width:550px;
    padding-top: 60px;
    display: flex;
    div{
        margin: 10px;
        h4{
        color:$color3;
        padding: 10px;
    }  
    }
}
.right{
    padding:30px;
    h4{
        padding-bottom: 20px;
    }
}
 