@import "mixin";
@import "variables";
.buttonsPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  button {
    @include boxStyle(max-content,30px, 5px,$color2,none,8px, 2px);
    color:$color5;
    cursor: pointer;
    min-width: 30px;
    &:hover{
      background-color:$color6;
    }
   img{
      width:16px;
      height: 16px;
    }
    
  }
  
}